---
layout: default
page-banner: "home"
id: home
---
<div class="home" >
    <div class = "row">
        <div class = "span6" style="width:500px">
            <!-- This loops through the paginated posts -->
            {% for post in paginator.posts %}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <div class="content">
                {% if post.content contains '<!--more-->' %}
                    {{ post.content | split:'<!--more-->' | first }}
                {% else %}
                    {{post.content}}
                {% endif %}
            </div>
            {% endfor %}
            <!-- Pagination links -->
            <div class="pagination">
                <ul>
                    {% if paginator.previous_page %}
                      <li><a href="{{ paginator.previous_page_path }}" class="previous">Previous</a></li>
                    {% else %}
                      <li><a>Previous</a></li>
                    {% endif %}
                      <li><a>Page: {{ paginator.page }} of {{ paginator.total_pages }}</a></li>
                    {% if paginator.next_page %}
                      <li><a href="{{ paginator.next_page_path }}" class="next">Next</a></li>
                    {% else %}
                      <li><a>>Next</a></li>
                    {% endif %}
                </ul>
            </div>
            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
        <!--Sidebar-->
        <div class="span1" style="width:150px;  margin-left:70px">         
                <a href="http://www.bostonrebellion.com/ProXCT/ProXCT.html" ><img  src="/images/theburner.png" width = "100%"  alt="The Barn Burner"/></a>
        </div>
    </div>
</div>


 

