
 <div style ="background-color:#333; height:35px; margin-top:85px;"></div> 
 <div class = "row" style ="margin-top:-125px;">
     <div class="col-lg-2 col-xl-2"></div>
     <div class ="col-lg-10" style="margin:0px; "><img src='{{ site.baseurl }}/images/BHHC-Banner.png'></div>
 </div>
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display 
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
      -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class=col-lg-2></div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 col-lg-8">
            <ul class="nav navbar-nav">
                    <li><a id="home" href="/" data-current-page="home">Home</a></li>
                    <li><a id="results" href="/results" data-current-page="home">Segment Data</a></li>
                    <li><a id="rules" href="/rules" data-current-page="results">The Rules</a></li>
                    <li><a href="/king_of_the_blue_hills" id ="strava">King of the Blue Hills</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>





     
