
 <div style ="background-color:#333; height:35px; margin-top:85px;"></div>
    
 <div class = "row" style ="display: table; margin:0 auto; margin-top:-125px;">
     <div class ="span8" style="margin:0px; width: 100%;"><img src='{{ site.baseurl }}/images/BHHC-Banner.png'></div>

 </div>

<div class="navbar">  
    <div class="navbar-inner" style="padding-top:-50px;">
          
         <div class ="row" style ="display: table; margin:0 auto;" >
            <div class ="span10">
            <ul id = "navlist" class="nav"  >
                <li><a id ="home" href="/"data-current-page="home">Home</a></li>
                <li><a id ="home" href="/rules"data-current-page="home">The Rules</a></li>
                <li><a href="/king_of_the_blue_hills" id ="strava">King of the Blue Hills</a></li>
            </ul>
            
            </div>
         </div>
      </div>
      </div>

      {% if page.page-banner =="home" %}

      </div>
    {% elsif page.page-banner == Nil %}


     {% else %}
      <div style ="padding-top:15px">     
        <div class = "row" style ="display:table; margin:0 auto;">
            <div style="width:780px;">
                <img src='/images/{{ page.page-banner }}'alt="Race Team" />
            </div>
        </div>
    </div>
     {% endif %}

{% if page.page-banner =="king.png" %}

{% endif %}

     
