<!DOCTYPE html>
<html  ng-app="bhccApp" >

{% include head.html %}

<body  {% if page.id %} data-current-page="{{ page.id }}"{% endif %}>
  {% include header.html %}
  {% if page.id == "home"%}
  <div style="background:#15426d; margin-top:0px;">
      <div class = "row"  >
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2"></div>
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-4" style="padding-bottom:24px;">
              <img class="img-responsive"  src="/images/king.png"/>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-4" style="padding-bottom:24px;">
                  <img class="img-responsive" src="/images/real.png"/>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-4" style="padding-bottom:24px;">
                  <img class="img-responsive" src="/images/results.png"/>
          </div>
          <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-4" style="padding-bottom:24px;">
                  <img class="img-responsive" src="/images/smoked.png"/>
          </div>
      </div>
</div>
{% endif %}
    <div  class="page-content">

            {{ content }}
          
    </div>

 
      {% include footer.html %}
    </body>

    </html>
