<!DOCTYPE html>
<html  ng-app="bhccApp" >

{% include head.html %}

<body  {% if page.id %} data-current-page="{{ page.id }}"{% endif %}>


  {% if page.title == home %}
<!--
  <video style = "display:none" id ="bg-video" autoplay loop>
    <source src="/video/adams.mp4" type="video/mp4">
  </video> 

  -->

  {% endif %}
 
  {% include header.html %}

    <div  class="page-content">
      <div class = "row" style="display:table; margin:0 auto; padding-top:15px;">
        {% if page.title == home %}
        <div class="well frontpagewell" style="width:742px; ">
          {% else %}
          <div class="well" style="width:742px; ">
            {% endif %}  
            <!-- <div class="wrapper">-->
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </body>

    </html>
