---
layout: page
description: ""
title: "Fun Facts"
name: fun_facts
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2018-04-18T12:49:30-05:00"
---
{% include JB/setup %}

<div ng-controller="FunFactController">
    <div class="col-lg-3 col-xl-3">
        <h4>Access Road</a></h4>
        <table class="table table-condensed table-responsive">
            <tr>
                <th>Name</th>
                <th>Attempts</th>
                <th>Daily Max</th> 
                <th>Activity</th>    
            </tr>
            <tr ng-repeat="entry in StravaData.fun_facts | orderBy: '-efforts' ">
                <td>[[entry.athlete]]</td>
                <td>[[entry.efforts]]</td>
                <td>[[entry.max]]</td>
                <td><a ng-href="https://www.strava.com/activities/[[entry.max_date]]">[[entry.max_date]]</a></td>
            </tr>
        </table>
    </div>


</div>